.container {
  display: flex;
  width: 100%;
  border-radius: 15px;
  background-color: var(--backgroundColorLight);
  border: 2px solid var(--borderColor);
  text-decoration: none;
  color: var(--textColor);
}
